authentication_server_url=http://123.127.139.225:9099/tgis_server/api/user/login
resource_server_url=http://123.127.139.225:9099/tgis_server/api/userpoint/list
grant_type=password
scope=
Authorization=
Bearer=Bearer
BASIC=Basic
username=13400231981
password=123456
JSON_CONTENT=application/json
XML_CONTENT=application/xml
URL_ENCODED_CONTENT=application/x-www-form-urlencoded

HTTP_OK=200
HTTP_FORBIDDEN = 403
HTTP_UNAUTHORIZED = 401
